---
title: Alkalmazotti ellenőrzés - i9 ellenőrzése
description: A Bevándorlási reform és ellenőrzési törvény megköveteli, hogy az Egyesült Államokbeli munkáltatók igazolják az újonnan felvett alkalmazottak alkalmazási jogosultsági állapotát.
author: ShielaSogge
ms.date: 01/10/2022
ms.topic: business-process
ms.prod: ''
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: twheeloc
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: b76102111a8506882f2301d76856ae1a34a7c704
ms.sourcegitcommit: 3a7f1fe72ac08e62dda1045e0fb97f7174b69a25
ms.translationtype: MT
ms.contentlocale: hu-HU
ms.lasthandoff: 01/31/2022
ms.locfileid: "8065681"
---
# <a name="employment-verification-i9-verification"></a>Alkalmazotti ellenőrzés - i9 ellenőrzése

[!include [banner](../../../includes/banner.md)]


[!INCLUDE [PEAP](../../../../../includes/peap-1.md)]

A Bevándorlási reform és ellenőrzési törvény megköveteli, hogy az Egyesült Államokbeli munkáltatók igazolják az újonnan felvett alkalmazottak alkalmazási jogosultsági állapotát. Ez az eljárás végigvezeti az I-9 ellenőrzéshez szükséges dokumentumok rögzítésén. Az eljáráshoz használja az USMF bemutatócéget.

1. Menj **Emberi Erőforrások \> Munkások \> Alkalmazottak**.
2. Rekordok kereséséhez használja a gyorsszűrőt. Például szűrjön egy értékre **Vince** a **Név** terület.
3. Az alkalmazott kiválasztása. Például válassza ki **Vince Prado**.
4. Válaszd ki a **Személyes adat** FastTab.
5. Válassza ki **Azonosító számok**.
6. Válassza az **Új** lehetőséget.
7. Válassza ki a rögzíteni kívánt azonosítási típust. Például válassza ki **Útlevél**.
8. Ban,-ben **Szám** mezőbe írjon be egy értéket.
9. Ban,-ben **Elsődleges** mezőben válassza ki **Igen**.
10. Ban,-ben **Leírás** mezőbe írja be az azonosító rekord rövid leírását.
11. Ban,-ben **Kibocsátó ügynökség** mezőben válassza ki azt az ügynökséget, amely kiállította az azonosító lapot a munkavállalónak. Például válassza ki **Kormány**.
12. Adja meg azt a dátumot, amikor a kiállító ügynökség kiállította az azonosító nyomtatványt a munkavállalónak. Például írja be **2011.02.15** (2011. február 15.).
13. Adja meg a személyazonosító okmány lejáratának dátumát. Például írja be **2021.02.15** (2021. február 15.).
14. Válassza a **Mentés** lehetőséget.
15. Zárja be a lapot.
16. Válaszd ki a **Foglalkoztatás** lapon.
17. Válassza ki **I-9**.
18. Válassza az **Új** lehetőséget.
19. Ban,-ben **Munkavégzésre való alkalmasság** mezőben válasszon egy lehetőséget.

    Ha a munkavállaló nem az Egyesült Államok állampolgára vagy állampolgára, meg kell adnia a munkavállaló rezidens külföldi vagy belépési számát.

20. Válaszd ki a **GroupListA** választási lehetőség.

    A kiválasztott lista a munkavállaló által megadott azonosító formájától függ. A munkavállalónak vagy egy dokumentumot kell benyújtania az A listáról, vagy egy dokumentumot a B listáról és a C listáról is. Ha például a munkavállaló útlevelet adott, akkor kiválaszthatja az A listát. Ha azonban a munkavállaló csak vezetői engedélyt és társadalombiztosítást adott meg kártyát, ki kell választania a B listát és a C listát.

21. Ban,-ben **I-9 dokumentumtípus** mezőben válassza ki a dolgozó által biztosított dokumentum típusát.
22. Ban,-ben **Dokumentum szám** mezőbe írja be vagy válasszon értéket.
23. Válassza a **Mentés** lehetőséget.

[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]
