---
title: Alkalmazotti ellenőrzés - i9 ellenőrzése
description: A Bevándorlási reform és ellenőrzési törvény megköveteli, hogy az Egyesült Államokbeli munkáltatók igazolják az újonnan felvett alkalmazottak alkalmazási jogosultsági állapotát.
author: ShielaSogge
ms.date: 01/10/2022
ms.topic: business-process
ms.prod: ''
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: twheeloc
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: ea77f112413a5b7d5c96768ad46fdb361023bd84
ms.sourcegitcommit: 27475081f3d2d96cf655b6afdc97be9fb719c04d
ms.translationtype: MT
ms.contentlocale: hu-HU
ms.lasthandoff: 01/12/2022
ms.locfileid: "7964883"
---
# <a name="employment-verification-i9-verification"></a>Alkalmazotti ellenőrzés - i9 ellenőrzése

[!include [banner](../../../includes/banner.md)]

A Bevándorlási reform és ellenőrzési törvény megköveteli, hogy az Egyesült Államokbeli munkáltatók igazolják az újonnan felvett alkalmazottak alkalmazási jogosultsági állapotát. Ez az eljárás végigvezeti az I-9 ellenőrzéshez szükséges dokumentumok rögzítésén. Az eljáráshoz használja az USMF bemutatócéget.

1. Ugrás a **humán erőforrások \>\> dolgozóihoz**.
2. Rekordok kereséséhez használja a gyorsszűrőt. Szűrést lehet például a **Név mezőre a** Márk értéke **alapján**.
3. Az alkalmazott kiválasztása. Választhatja például **a Fordo jelölőnégyzetet.**
4. Válassza ki **a Személyes adatok** gyorsét.
5. Azonosító **számok** kiválasztása.
6. Válassza az **Új** lehetőséget.
7. Válassza ki a rögzített azonosítási típust. Például válassza ki az **Útlevél** lehetőséget.
8. A **Szám** mezőbe írjon be egy értéket.
9. Az Elsődleges **mezőben** válassza az Igen **lehetőséget**.
10. A **Leírás** mezőbe írja be az azonosító rekord rövid leírását.
11. A Kibocsátó ügynökség mezőben válassza ki azt a szervezetet, amely az **azonosítót** kiállította a dolgozónak. Válassza például a Kormányzati **lehetőséget**.
12. Adja meg azt a dátumot, amikor a kibocsátó ügynökség kiállította a dolgozó azonosító űrlapját. Például adja meg **a 2011. február** 15-ét (2011. február 15.).
13. Adja meg a személyazonosító okmány lejáratának dátumát. Adja meg például **2021. február 15-ét** (2021. február 15.).
14. Válassza a **Mentés** lehetőséget.
15. Zárja be a lapot.
16. Válassza a **Foglalkoztatás** lapot.
17. Válassza **az I-9** et.
18. Válassza az **Új** lehetőséget.
19. Válasszon egy beállítást a **Munka** jogosultsága mezőben.

    Ha az alkalmazott nem az Egyesült Államok állampolgára, akkor meg kell adnia a dolgozó rezidens külföldi vagy beléptetési számát.

20. Válassza a **GroupListA** lehetőséget.

    A kiválasztott lista a dolgozó által megadott azonosítótól függ. Egy dolgozónak vagy egy A listás dokumentumot, vagy egy B listás és egy C listás dokumentumot is meg kell adnia. Ha például a dolgozó útlevelet adott meg, az "A" listát választhatja. Ha azonban a dolgozó csak a jogosítványt és a társadalombiztosítási kártyát biztosította, a B és a C listát kell választania.

21. Az **I-9 dokumentumtípus mezőben válassza ki a dolgozó** által megadott dokumentum típusát.
22. A Dokumentum száma mezőben adjon meg vagy **válasszon** ki egy értéket.
23. Válassza a **Mentés** lehetőséget.

[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]
