---
title: Alkalmazotti ellenőrzés - i9 ellenőrzése
description: A Bevándorlási reform és ellenőrzési törvény megköveteli, hogy az Egyesült Államokbeli munkáltatók igazolják az újonnan felvett alkalmazottak alkalmazási jogosultsági állapotát.
author: ShielaSogge
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: 92480a8800571d477fcf00063e3303172274e595
ms.sourcegitcommit: 074b6e212d19dd5d84881d1cdd096611a18c207f
ms.translationtype: HT
ms.contentlocale: hu-HU
ms.lasthandoff: 03/31/2021
ms.locfileid: "5752104"
---
# <a name="employment-verification-i9-verification"></a><span data-ttu-id="9c7ff-103">Alkalmazotti ellenőrzés - i9 ellenőrzése</span><span class="sxs-lookup"><span data-stu-id="9c7ff-103">Employment verification i9 verification</span></span>

[!include [banner](../../../includes/banner.md)]

<span data-ttu-id="9c7ff-104">A Bevándorlási reform és ellenőrzési törvény megköveteli, hogy az Egyesült Államokbeli munkáltatók igazolják az újonnan felvett alkalmazottak alkalmazási jogosultsági állapotát.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-104">The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees.</span></span> <span data-ttu-id="9c7ff-105">Ez az eljárás végigvezeti az I-9 ellenőrzéshez szükséges dokumentumok rögzítésén.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-105">This procedure will walk you through the steps of recording the necessary documents for I-9 verification.</span></span> <span data-ttu-id="9c7ff-106">Az eljáráshoz használja az USMF bemutatócéget.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-106">Use the USMF company for this procedure.</span></span>

1. <span data-ttu-id="9c7ff-107">Ugrás az Emberi erőforrások > Dolgozók > Alkalmazottak lehetőségre.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-107">Go to Human resources > Workers > Employees.</span></span>
2. <span data-ttu-id="9c7ff-108">Rekordok kereséséhez használja a gyorsszűrőt.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-108">Use the Quick Filter to find records.</span></span> <span data-ttu-id="9c7ff-109">Például szűkítsen a Név mezővel a „Vince” szót beírva.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-109">For example, filter on the Name field with a value of 'Vince'.</span></span>
3. <span data-ttu-id="9c7ff-110">Az alkalmazott kiválasztása.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-110">Select the employee.</span></span> <span data-ttu-id="9c7ff-111">Példa: Vince Prado</span><span class="sxs-lookup"><span data-stu-id="9c7ff-111">Example: Vince Prado</span></span>
4. <span data-ttu-id="9c7ff-112">Bontsa ki a Személyes adatok gyorslapot.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-112">Expand the Personal information FastTab.</span></span>
5. <span data-ttu-id="9c7ff-113">Kattintson az Azonosítószámok gombra.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-113">Click Identification numbers.</span></span>
6. <span data-ttu-id="9c7ff-114">Kattintson az Új elemre.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-114">Click New.</span></span>
7. <span data-ttu-id="9c7ff-115">Válassza ki a megfelelő azonosítási típust, amelyet rögzíteni kíván.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-115">Select the identification type that you are recording.</span></span> <span data-ttu-id="9c7ff-116">Példa: útlevél</span><span class="sxs-lookup"><span data-stu-id="9c7ff-116">Example: Passport</span></span>
8. <span data-ttu-id="9c7ff-117">Érték beírása a Szám mezőbe.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-117">In the Number field, type a value.</span></span>
9. <span data-ttu-id="9c7ff-118">Válassza ki az Igen lehetőséget az Elsődleges mezőben.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-118">Select Yes in the Primary field.</span></span>
10. <span data-ttu-id="9c7ff-119">Írja be az azonosítórekord rövid leírását a Leírás mezőbe.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-119">In the Description field, enter a brief description of the identification record..</span></span>
11. <span data-ttu-id="9c7ff-120">Válassza ki a kibocsátó hatóságot, amely kiállította a dolgozó azonosító okmányát.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-120">In the issuing agency select the agency that issued the form of identification to the worker.</span></span> <span data-ttu-id="9c7ff-121">Példa: Kormányzat</span><span class="sxs-lookup"><span data-stu-id="9c7ff-121">Example: Government</span></span>
12. <span data-ttu-id="9c7ff-122">Írja be a dátumot, amelyen a kibocsátó hatóság kiállította a dolgozó azonosító okmányát.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-122">Enter the date that the issuing agency issued the form of identification to the worker.</span></span> <span data-ttu-id="9c7ff-123">Példa: 2011. 02. 15.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-123">Example: 02/15/2011</span></span>
13. <span data-ttu-id="9c7ff-124">Adja meg a személyazonosító okmány lejáratának dátumát.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-124">Enter the date when the form of identification expires.</span></span> <span data-ttu-id="9c7ff-125">Példa: 2021. 02. 15.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-125">Example: 2/15/2021</span></span>
14. <span data-ttu-id="9c7ff-126">Kattintson a Mentés gombra.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-126">Click Save.</span></span>
15. <span data-ttu-id="9c7ff-127">Zárja be a lapot.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-127">Close the page.</span></span>
16. <span data-ttu-id="9c7ff-128">Kattintson a Foglalkoztatás lapra.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-128">Click the Employment tab.</span></span>
17. <span data-ttu-id="9c7ff-129">Kattintson az I-9 elemre.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-129">Click I-9.</span></span>
18. <span data-ttu-id="9c7ff-130">Kattintson az Új lehetőségre.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-130">Click New.</span></span>
19. <span data-ttu-id="9c7ff-131">A Munkára jogosultság mezőben válasszon ki egy lehetőséget.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-131">In the Work eligibility field, select an option.</span></span>
    * <span data-ttu-id="9c7ff-132">Ha az alkalmazott nem az Egyesült Államok állampolgára, akkor meg kell adnia a tartózkodási engedély vagy belépési engedély számát is.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-132">If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.</span></span>  
20. <span data-ttu-id="9c7ff-133">Válassza ki a GroupListA lehetőséget.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-133">Select the GroupListA option.</span></span>
    * <span data-ttu-id="9c7ff-134">A kiválasztott lista attól függ, hogy a dolgozó milyen személyazonosító okmányt adott meg.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-134">The list that you select depends on what form of identification the worker provided.</span></span> <span data-ttu-id="9c7ff-135">A dolgozónak meg kell adnia egy A listás dokumentumot vagy egy B vagy C listás dokumentumot. Ha például a dolgozó útlevelet adott meg, kiválasztható az A lista.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-135">A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected.</span></span> <span data-ttu-id="9c7ff-136">Ha azonban a dolgozó csak a vezetői jogosítványa és a társadalombiztosítási kártyája számát adta meg, a B és C listát kell kiválasztani.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-136">However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.</span></span>  
21. <span data-ttu-id="9c7ff-137">Az I-9 dokumentumtípus mezőben válassza ki a dolgozó által benyújtott dokumentum típusát.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-137">In the I-9 document type field, select the type of document that the worker provided.</span></span>
22. <span data-ttu-id="9c7ff-138">A Bizonylat száma mezőben adjon meg, vagy válasszon ki egy értéket.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-138">In the Document number field, enter or select a value.</span></span>
23. <span data-ttu-id="9c7ff-139">Kattintson a Mentés gombra.</span><span class="sxs-lookup"><span data-stu-id="9c7ff-139">Click Save.</span></span>



[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]