---
title: Alkalmazotti ellenőrzés - i9 ellenőrzése
description: A Bevándorlási reform és ellenőrzési törvény megköveteli, hogy az Egyesült Államokbeli munkáltatók igazolják az újonnan felvett alkalmazottak alkalmazási jogosultsági állapotát.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: ab03e28b3e42d02395da01024bc3bcf4dbcd5abf
ms.sourcegitcommit: b112925c389a460a98c3401cc2c67df7091b066f
ms.translationtype: HT
ms.contentlocale: hu-HU
ms.lasthandoff: 12/19/2020
ms.locfileid: "4798094"
---
# <a name="employment-verification-i9-verification"></a>Alkalmazotti ellenőrzés - i9 ellenőrzése

[!include [banner](../../../includes/banner.md)]

A Bevándorlási reform és ellenőrzési törvény megköveteli, hogy az Egyesült Államokbeli munkáltatók igazolják az újonnan felvett alkalmazottak alkalmazási jogosultsági állapotát. Ez az eljárás végigvezeti az I-9 ellenőrzéshez szükséges dokumentumok rögzítésén. Az eljáráshoz használja az USMF bemutatócéget.

1. Ugrás az Emberi erőforrások > Dolgozók > Alkalmazottak lehetőségre.
2. Rekordok kereséséhez használja a gyorsszűrőt. Például szűkítsen a Név mezővel a „Vince” szót beírva.
3. Az alkalmazott kiválasztása. Példa: Vince Prado
4. Bontsa ki a Személyes adatok gyorslapot.
5. Kattintson az Azonosítószámok gombra.
6. Kattintson az Új elemre.
7. Válassza ki a megfelelő azonosítási típust, amelyet rögzíteni kíván. Példa: útlevél
8. Érték beírása a Szám mezőbe.
9. Válassza ki az Igen lehetőséget az Elsődleges mezőben.
10. Írja be az azonosítórekord rövid leírását a Leírás mezőbe.
11. Válassza ki a kibocsátó hatóságot, amely kiállította a dolgozó azonosító okmányát. Példa: Kormányzat
12. Írja be a dátumot, amelyen a kibocsátó hatóság kiállította a dolgozó azonosító okmányát. Példa: 2011. 02. 15.
13. Adja meg a személyazonosító okmány lejáratának dátumát. Példa: 2021. 02. 15.
14. Kattintson a Mentés gombra.
15. Zárja be a lapot.
16. Kattintson a Foglalkoztatás lapra.
17. Kattintson az I-9 elemre.
18. Kattintson az Új lehetőségre.
19. A Munkára jogosultság mezőben válasszon ki egy lehetőséget.
    * Ha az alkalmazott nem az Egyesült Államok állampolgára, akkor meg kell adnia a tartózkodási engedély vagy belépési engedély számát is.  
20. Válassza ki a GroupListA lehetőséget.
    * A kiválasztott lista attól függ, hogy a dolgozó milyen személyazonosító okmányt adott meg. A dolgozónak meg kell adnia egy A listás dokumentumot vagy egy B vagy C listás dokumentumot. Ha például a dolgozó útlevelet adott meg, kiválasztható az A lista. Ha azonban a dolgozó csak a vezetői jogosítványa és a társadalombiztosítási kártyája számát adta meg, a B és C listát kell kiválasztani.  
21. Az I-9 dokumentumtípus mezőben válassza ki a dolgozó által benyújtott dokumentum típusát.
22. A Bizonylat száma mezőben adjon meg, vagy válasszon ki egy értéket.
23. Kattintson a Mentés gombra.

